<.flash_group flash={@flash} />

<link href={~p"/assets/blocknote.css"} rel="stylesheet" />
<script defer phx-track-static type="text/javascript" src={~p"/assets/blocknote.js"}>
</script>
<div id="root"></div>
