<.flash_group flash={@flash} />

<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />

<script defer phx-track-static type="text/javascript" src={~p"/assets/editor.js"}>
</script>
<div id="editor"></div>
