<.flash_group flash={@flash} />
<link href={~p"/assets/prosemirror.css"} rel="stylesheet" />
<script defer phx-track-static type="text/javascript" src={~p"/assets/prosemirror.js"}>
</script>
<div id="root"></div>
